.mineHeaderImg{
	width:100% !important;
}
.mineHeaderImg1{
	height:20px;
	position: absolute;
    right: 13.4%;
    top: 2.5%;
}
.mineHeaderImg2{
	height:20px;
	position: absolute;
	right: 3.4%;
	top: 2.5%;
}
.mineHeaderName{
    width: 38.7%;
    height: 90px;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0 4px 14px -4px rgba(0,0,0,0.08);
    border-radius: 12px;
	z-index:999;
	top: 21%;
}
.mineHeaderName>span{
	display:block;
}
.mineHeaderNameSpan1{
	font-family: PingFangSC-Medium;
	font-size: 30px;
	color: #222222;
	letter-spacing: 0;
	line-height: 30px;
	padding-top: 15px;
}
.mineHeaderNameSpan2{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #999999;
	letter-spacing: 0;
	line-height: 16px;
    padding-top: 15px;	
}
.mineCentral{
	margin-top: -25px;
    z-index: 998;
    position: absolute;
    width: 100%;
}
.mineCentralTop>div>span{
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #666666;
	letter-spacing: 0;
	line-height: 16px;
	display: block;
	margin-top: 3vw;
}
.mineCentralTop{
	width:100%;
	text-align: center;
	background: #FFFFFF;
	height:180px;
	padding-top: 20vw;
	border-bottom: 1px solid #EAEAEA;
	border-radius:20px;
}
.mineCentralTop>div{
	width: 50%;
    float: left;
}
.mineCentralImg1{
	width:40px;
}
.mineCentralImg2{
	width:34px;
}
.mineCentralDiv1{
	border-right: 1px solid #EAEAEA;
}
.mineCentralBottom{
	height:41.6vw;
	margin-bottom: 60px;
}
.mineCentralBottom>div>img{
	width:24px;
	float: left;
    margin-right: 10px;
}
.mineCentralBottom>div>span{
	font-family: PingFangSC-Regular;
	font-size: 15px;
	color: #222222;
	letter-spacing: 0;
	line-height: 15px;
}
.mineCentralBottom>div{
    margin: 3%;
    border-bottom: 1px solid #EAEAEA;
    padding-top: 3%;
    padding-bottom: 3%;
	padding-left: 1%;
}
.Icon_list{
	width:8px !important;
	float: right !important;
}
.loginOrRegister{
	font-family: PingFangSC-Medium;
	font-size: 20px;
	color: #222222;
	letter-spacing: 0;
	line-height: 20px;
	margin-top: 34.5px;
}