.yellowButton{
	background-image: linear-gradient(-90deg, #FCDF07 0%, #FECD15 100%);
	border-radius: 40px;
	width:82.7%;
	height:44px;
	margin-left:8.68%;
	margin-bottom: 20px;
	position: absolute;
    bottom: 30vw;
}
.openAccountTop>div>div>img{
	width:83px;
}
.openAccountTop>div>div>span{
	display:block;
	font-family: PingFang-SC-Bold;
	font-size: 18px;
	line-height: 35px;
	letter-spacing: 0px;
	color: #222222;
}
.openAccountTop{
	width:81vw;
	margin-left:9.6vw;
	margin-top:16.5vw;
	background:#ffffff;
	height:80vw;
	text-align:center;
	padding-top:12.5vw;
	border-radius: 10px;
}
.openAccountTop>div>div{
	width:50%;
	float:left;
}
.openAccountTopDiv1{
	height:55%;
}
.openAccountWord{
	height:45%;
	width:100% !important;
	float:unset !important;
	font-family: PingFang-SC-Medium;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
	color: #ffffff;
	background-color: #999999;
	box-shadow: 0rem 5rem 15rem 0rem 
		rgba(160, 160, 160, 0.35);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
    padding: 15px;
    text-align: left;
}