<weixin_include file="Public:_header"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/weixin/css/elitesLoan.css">
<div>
    <div class = "elitesLoanHeader">
        <img src = "__PUBLIC__/weixin/image/loan/product_bg_frd.png">
        <a>
            <img class = "backImg" src = "__PUBLIC__/weixin/image/loan/nav_back_w.png">
        </a>
        <div class = "elitesLoanHeaderTop">
            <span class = "elitesLoanHeaderTopSpan1">法人贷</span>
            <span class = "elitesLoanHeaderTopSpan2">用于解决企业中短期,资金需求的无抵押贷款。</span>
            <div class = "elitesLoanHeaderTopDiv">
                <div class = "elitesLoanHeaderTopLi1">
                    <li>贷款额度</li>
                    <li>年化利率</li>
                    <li>贷款期限</li>
                </div>
                <div class = "elitesLoanHeaderTopLi2">
                    <li>高至50万</li>
                    <li>低至8.5%</li>
                    <li>3-24个月</li>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>


<wx_include file="Public:_footer"/>