<weixin_include file="Public:_header"/>
<script type="text/javascript" src="__PUBLIC__/wechat/wtpl/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/wechat/wtpl/css/register/index.css">
<div class="main-content">
    <div class="title-icon"></div>
    <div class="login">
        <form action="{:U('account/login')}" method="post" id="container_form">
            <div class="login-item">
                <span class="user-icon"></span>
                <input type="text" id="mobile" name="mobile" placeholder="请输入手机号码" maxlength="11" class="input-text">
            </div>
            <div class="login-item">
                <span class="password-icon"></span>
                <input type="password" id="password" name="password" placeholder="请输入登录密码" class="input-text">
                <input type="button" id="btn" name="btn" onclick="visible();" class="eyes">
            </div>
        </form>
    </div>
    <div class="bottom">
        <a class="reg" href="{:U('account/register')}">立即注册</a>
        <a class="lost" href="{:U('account/reset_password')}">忘记密码</a>
    </div>
    <a href="javascript:;" class="login-btn">登&nbsp;&nbsp;录</a>
</div>

<script type="text/javascript">
    $(".login-btn").click(function(){
        // var form = $("#container_form");

        // var url = $(form).attr("action");
        // var data = $(form).serialize();
        // ajax_execute(url,data,callback);
        // return false;
        window.location.href = "{:U('index/index')}"
    });
    function callback(data){
        if(data.status == '1'){
            showdialog(data.info);
            setTimeout(function(){window.location.href=data.url;},1000);
        }else{
            showdialog(data.info);
        }
    }
    function visible(){
        if($("#password").attr("type") == "password"){
            $("#password").attr("type","text");
        }
        else{
            $("#password").attr("type","password");
        }
        return false;
    }
</script>


<weixin_include file="Public:_footer"/>